body {
    background-color: rgb(225, 225, 225);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     HEADER     ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
header {
    background-color: rgb(255, 28, 28);
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    padding: 20px; 
}

.logo {
    filter: grayscale();
    width: 100px; 
}

.logo img {
    width: 100%; 
    max-height: 100px; 
}

nav ul {
    margin: 0;
    padding: 0; 
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav li {
    margin-left: 20px; 
}

nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s; 
}

nav a:hover {
    background-color: #fff;
    color: rgb(255, 28, 28);
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     SLIDER     ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.slider-container {
    padding-top: 20px;
    background-color: rgb(205, 205, 205);
    width: 70%; 
    height: 50%;
    margin: auto;
    overflow: hidden; 
}

.slider {
    display: flex; 
}

.slider .film-item {
    position: static; 
}

.slider img {
    width: 100%; 
    height: 300px;
    object-fit: fill; 
    object-position: center;
}

.film-title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
    padding: 10px; 
    font-size: 16px;
    text-align: center; 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.slider .film-item:hover .film-title-overlay {
    opacity: 1; 
}

.slider-image:hover {
    opacity: 0.3;
    cursor: pointer; 
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     SORTIE DE LA SEMAINE     /////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.films-sortie-semaine {
    width: 70%;
    margin: 0 auto; 
    background-color: #ffffff; 
}

.films-sortie-semaine .titre {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 20px; 
}

.films-sortie-semaine .list-film {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.films-sortie-semaine .film {
    position: relative; 
    text-align: center; 
    margin-bottom: 30px; 
    transition: transform 0.3s ease; 
    margin-right: 20px; 
}

.films-sortie-semaine .film:hover {
    transform: scale(1.05); 
} 

.films-sortie-semaine .film img {
    border-radius: 10px;
    width: 100%; 
    height: 100%; 
}

.films-sortie-semaine .film-image-container{
    width: 100px;
    height: 150px;
}

.voirPlusSortie a {
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusSortie a:hover {
    color: white;
    background-color: rgb(164, 13, 13); 
}


.films-sortie-semaine .film-title-overlay-sortie {
    position: absolute;
    background-color: rgba(219, 19, 19, 0.7);
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    display: flex; 
    align-items: center; 
    opacity: 0;
    transition: opacity 0.1s ease;
    height: auto; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.films-sortie-semaine .film:hover .film-title-overlay-sortie {
    border-radius: 8%;
    height: 100%;
    width: 100%;
    opacity: 1;
}



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     TOP FILMS DE LA SEMAINE     /////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.top-films-semaine {
    width: 70%;
    margin: 0 auto; 
    background-color: #ffffff; 
    padding-bottom: 20px;
}

.top-films-semaine .titre {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 20px; 
}

.top-films-semaine .list-film {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.top-films-semaine .film {
    text-align: center; 
    margin-bottom: 10px; 
    transition: transform 0.3s ease; 
    margin-right: 20px; 
}

.top-films-semaine .film:hover {
    transform: scale(1.05); 
} 

.top-films-semaine  span.rank-badge {
    display: flex;
    justify-content: center;
   position: absolute;
    background-color: rgb(207, 7, 7);
    color: white;
    width: 25px;
    height: 24px;
    font-size: 18px;
    border-radius: 7%;  
}



.top-films-semaine .film img {
    border-radius: 10px;
    width: 100%; 
    height: 100%; 
}

.top-films-semaine img.film-image:hover {
    opacity: 0.2; 
}

.top-films-semaine .film p {
    margin-top: 5px; 
    font-size: 14px; 
}

.top-films-semaine .film-image-container{
    width: 100px;
    height: 150px;
    
}

.film-image-container .film-title-overlay-top {
    position: absolute;
    background-color: rgba(219, 19, 19, 0.7);
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    display: flex; 
    align-items: center; 
    opacity: 0;
    height: 100%;
    transition: opacity 0.1s ease;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}

.top-films-semaine .film-note {
    padding-top: 5px;
    padding-left: 20px;
    position: absolute;
    color : rgb(0, 0, 0)
}

.top-films-semaine .film-image-container:hover .film-title-overlay-top {
    border-radius: 8%;
    width: 100%;
    opacity: 1;
}

.voirPlusTop a {
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusSortie,
.voirPlusTop {
    display: flex;
    justify-content: right;
    padding: 10px 30px 30px 10px;
    
}

.voirPlusTop a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}

.section-title {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 30px;
    padding-bottom: 40px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////        ACTEURS REALISATEURS POPULAIRE       /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.populaires-sections {
    background-color: #ffffff; 
    width: 70%;
    margin: 0 auto;
    display: flex; 
}

.acteurs-populaires,
.realisateurs-populaires {
    flex: 1; 
   
}

.acteurs-populaires .titre,
.realisateurs-populaires .titre {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    }

.acteurs-populaires ul,
.realisateurs-populaires ul {
    
    list-style-type: none;
   
}

.acteurs-populaires ul li,
.realisateurs-populaires ul li {
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    
}

.voirPlusActeur{
    display: flex;
    justify-content: baseline;
    padding-right: 20px;
    padding-bottom: 20px;
}

.voirPlusRealisateur{
    display: flex;
    padding-right: 20px;
    justify-content: end;
    padding-bottom: 20px;
}

.realisateurs-populaires ul li:hover {
   
    transform: scale(1.1 );
}

.acteurs-populaires ul li:hover {
    transform: scale(1.1); 
}

.voirPlusRealisateur a {
    margin-left: 30px;
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusRealisateur a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}

.voirPlusActeur a {
    margin-left: 30px;
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusActeur a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////        GENRES POPULAIRES      ////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.genres-populaires {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.genres-populaires .titre {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center; 
}

.genres-populaires ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.genres-populaires ul li {
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.genres-populaires ul li:hover {
    transform: scale(1.1); 
}

.voirPlusGenre {
    margin-top: 20px; 
    margin-bottom: 20px;}

.voirPlusGenre a {
    padding-bottom: 20px;
    margin-left: 30px;
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusGenre a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////       FOOTER           /////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #121212; 
    padding: 20px; 
    width: 100%; 
   
}


.footer-bar {
    list-style-type: none;
    
}

.footer-bar li {
    font-size: 15px;
    display: inline; 
    margin-right: 20px; 
}

.footer-bar li a {
    color: #ffffff; 
    text-decoration: none; 
}

.footer-bar li a:hover {
    color: #cccccc; 
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: #ffffff; 
    font-size: 20px; 
    margin: 0 10px; 
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////       AUTRES VUES           /////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#contenu img {
    width: 150px;
    height: auto;
}

#contenu ul {
    padding-bottom: 20px; 
}

#wrapper {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}


h1, h3, h4, h5, h6 {
    padding: 10px;
    color: rgb(248, 21, 21);
}

p {
    padding-left: 15px;
    color: rgb(0, 0, 0);
    margin: 10px;
}

.uk-heading-bullet {
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 24, 24);
    color: #ffffff;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

.uk-label-warning {
    text-align: end;
    font-size: 15px;
    color: #ffffff;
    padding-right: 20px;
}

.uk-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.uk-table th, .uk-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.uk-table th {
    text-align: center;
    background-color: rgb(255, 24, 24);
    color: rgb(255, 255, 255);
}

.uk-table-striped tbody tr {
    background-color: #f2f2f2;
}

a.ajouter { 
    margin: 10px;
    background-color: rgb(255, 28, 28);
    color:rgb(255, 255, 255);
    padding: 5px;
}

a.ajouter:hover{ 
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color:rgb(255, 0, 0);
}

label{
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

input { 
    margin-top: 15px;
}

#contenu{
    background-color: white;
}

button { 
    margin-top: 15px;
    background-color: red;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
}
