body {
    background-color: rgb(225, 225, 225);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     HEADER     ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header {
    background-color: 
    rgb(255, 28, 28);
}


nav ul {
    
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    background-color: rgb(209, 0, 0);
}

nav li {
    
padding-left: 30px;
}

nav a {
    
    font-size: 18px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block; 
    height: 100%; 
    line-height: 30px; 
}


nav a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     SLIDER     ///////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.slider-container {
    background-color: rgb(205, 205, 205);
    width: 70%; 
    height: 50%;
    margin: auto;
    overflow: hidden; 
}

.slider {
    display: flex; 
}

.slider img {
    width: 100%; 
    height: 300px;
    object-fit: cover; 
    object-position: top;
}

.slider-image:hover {
  
    opacity: 0.3;
    cursor: pointer; 
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     SORTIE DE LA SEMAINE     /////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.films-sortie-semaine {
    width: 70%;
    margin: 0 auto; 
    background-color: #ffffff; 
}

.films-sortie-semaine .titre {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 20px; 
}

.films-sortie-semaine .list-film {
    display: flex;
    flex-wrap: wrap;
}

.films-sortie-semaine .film {
    padding-left: 20px;
    width: 150px; 
    text-align: center; 
    margin-bottom: 20px; 
    transition: transform 0.3s ease; 
}

.films-sortie-semaine .film:hover {
    transform: scale(1.05); 
} 

.films-sortie-semaine .film img {
    border-radius: 10px;
    width: 100px; 
    height: 150px; 
}


.films-sortie-semaine .film img:hover {
    opacity: 0.7; 
}

.films-sortie-semaine .film p {
    margin-top: 5px; 
    font-size: 14px; 
}

.voirPlusSortie a {
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusSortie a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////     TOP FILMS DE LA SEMAINE     /////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



.top-films-semaine {
    width: 70%;
    margin: 0 auto; 
    background-color: #ffffff; 
}

.top-films-semaine .titre {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 20px; 
}

.top-films-semaine .list-film {
    display: flex;
    flex-wrap: wrap;
}

.top-films-semaine .film {
    position: relative;
    padding-left: 20px;
    width: 150px; 
    text-align: center; 
    margin-bottom: 20px; 
    transition: transform 0.3s ease; 
}

.top-films-semaine  span.rank-badge {
    position: absolute;
    background-color: rgb(207, 7, 7);
    color: white;
    width: 25px;
    height: 28px;
    font-size: 16px;
    text-align: center;
    line-height: 25px;
    border-radius: 8px; 
    
}


.top-films-semaine .film:hover {
    transform: scale(1.05); 
}

.top-films-semaine .film img {
    border-radius: 8px;
    width: 100px; 
    height: 150px; 
}

.top-films-semaine img.film-image:hover {
    opacity: 0.2; 
}

.top-films-semaine .film p {
    margin-top: 5px; 
    font-size: 14px; 
}

.voirPlusTop a {
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusTop a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}

.section-title {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-bottom: 30px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////        ACTEURS REALISATEURS POPULAIRE       /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.populaires-sections {
    background-color: #ffffff; 
    width: 70%;
    margin: 0 auto;
    display: flex; 
}

.acteurs-populaires,
.realisateurs-populaires {
    flex: 1; 
   
}

.acteurs-populaires .titre,
.realisateurs-populaires .titre {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    }

.acteurs-populaires ul,
.realisateurs-populaires ul {
    
    list-style-type: none;
   
}

.acteurs-populaires ul li,
.realisateurs-populaires ul li {
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    
}

.voirPlusActeur{
    display: flex;
    justify-content: end;
    padding-right: 20px;
    padding-bottom: 20px;
}

.voirPlusRealisateur{
    display: flex;
    padding-right: 20px;
    justify-content: end;
    padding-bottom: 20px;
}

.realisateurs-populaires ul li:hover {
   
    transform: scale(1.1 );
}

.acteurs-populaires ul li:hover {
    transform: scale(1.1); 
}

.voirPlusRealisateur a {
    margin-left: 30px;
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusRealisateur a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}

.voirPlusActeur a {
    margin-left: 30px;
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusActeur a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////        GENRES POPULAIRES      /////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.genres-populaires {
    width: 70%;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.genres-populaires .titre {
    font-size: 10px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center; 
}

.genres-populaires ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
}

.genres-populaires ul li {
    margin-right: 30px;
    margin-bottom: 10px;
    font-size: 20px;
    
}

.genres-populaires ul li:hover {
    transform: scale(1.1); 
}

.voirPlusGenre {
    margin-top: 20px; 
    margin-bottom: 20px;}

.voirPlusGenre a {
    padding-bottom: 20px;
    margin-left: 30px;
    background-color: rgb(252, 39, 39); 
    color: white; 
    padding: 3px 5px;
    text-decoration: none; 
    border-radius: 5px; 
}

.voirPlusGenre a:hover {
    color: white;
    background-color: rgb(160, 10, 10); 
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////       FOOTER           /////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: #000000; 
    padding: 20px; 
    width: 100%; 
   
}


.footer-bar {
    list-style-type: none;
    
}

.footer-bar li {
    font-size: 12px;
    display: inline; 
    margin-right: 20px; 
}

.footer-bar li a {
    color: #ffffff; 
    text-decoration: none; 
}

.footer-bar li a:hover {
    color: #cccccc; 
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////       AUTRES VUES           /////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/



#wrapper {
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    margin: auto;
}

h1, h3, h4, h5, h6 {
    padding: 10px;
    color: rgb(248, 21, 21);
}
p{ 
    color: rgb(0, 0, 0);
    margin: 10px;
}
.uk-heading-bullet {
    margin-top: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(250, 24, 24);
    color: #ffffff;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}   

.uk-label-warning {
    text-align: end;
    font-size: 15px;
    color: #ffffff;
    padding-right: 20px;
}

.uk-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.uk-table th, .uk-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.uk-table th {
    text-align: center;
    background-color: rgb(255, 24, 24);
    color: rgb(255, 255, 255);
}

.uk-table-striped tbody tr {
    background-color: #f2f2f2;
}

a.ajouter { 
    margin: 10px;
    background-color: rgb(255, 28, 28);
    color:rgb(255, 255, 255);
    padding: 5px;
}

a.ajouter:hover{ 
    color: rgb(255, 255, 255)
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color:rgb(255, 0, 0);
}

label{
    color: rgb(0, 0, 0);
    padding-left: 10px;
}

input { 
    margin-top: 15px;}


#contenu{
    background-color: white;
}

button { 
    margin-top: 15px;
    background-color: red;
    margin: 10px;
    font-size: 15px;
    border-radius: 5px;
}

figure{ 
    height: 20%;
    width: 20%;
}

img{  width : 100%;  height : 100%;
}

.logo{
    filter: grayscale(100%);
margin-left: 20px;
    height: 50%;
    width: 50%
}